<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Process Model DB" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|\Process Model DB.db;" providerName="System.Data.SQLite"/>
    <add name="Process Model DB1" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|Process Model DB.db"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
